<div id="detail-table" class="table">
<div class="table-content">
    <span class="close-icon" id="close-detail-table">&times;</span>
    <h2>Detailed Result</h2>
    <div id="detail-table-body"></div>
</div>
</div>