<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Choose Area</title>
    <link rel="stylesheet" href="/assets/css/choice.css" />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Radley&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1 class="main-title">Choose your area</h1>

        <div class="group-visualizer-img">
            <div class="visualizer-img">
                <a href="">
                    <div class="img-container">
                        <img src="/assets/img/SG.png" alt="Future Project" />
                    </div>
                    <div class="img-info">
                        <b>Sai Gon</b><br />
                        The future project
                    </div>
                </a>
            </div>

            <div class="visualizer-img">
                <a href="/capital">
                    <div class="img-container">
                        <img src="/assets/img/HN.png" alt="Ha Noi" />
                    </div>
                    <div class="img-info">
                        <b>Ha Noi</b><br />
                        The capital of Vietnam
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>

</html>