<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Playful Season</title>
    <link rel="stylesheet" href="/assets/css/home-page.css">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="overlay">
            <div class="main-text">
                <h1 class="title">Playful Season</h1>
                <p class="subtitle">A flick of the wand, dreams soar beyond!</p>
            </div>

            <div class="thumbnails">
                <img src="img/portrait1.png" alt="Character 1">
                <img src="img/portrait2.png" alt="Character 2">
            </div>
            <p class="gift-text">THE QUINTESSENTIAL GIFT</p>

            <button class="start-button">START GAME</button>
        </div>
    </div>
</body>

</html>