<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Flow in Viet Nam</title>
    <!-- Đường dẫn đến tệp CSS của bạn -->
    <link rel="stylesheet" href="/assets/css/home-page.css">
</head>
<body>
    <div id="video-container">
        <video autoplay muted loop id="myVideo">
            <!-- Đường dẫn đến tệp video của bạn -->
            <source src="/assets/video/1.mp4" type="video/mp4">
            Trình duyệt của bạn không hỗ trợ thẻ video.
        </video>
    </div>

    <!-- Đường dẫn đến tệp JS của bạn -->
    <script src="/assets/js/home-page.js"></script>
</body>
</html>