<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading...</title>
    <link rel="stylesheet" href="/assets/css/loading.css">
</head>
<body>
    <div class="loading-container">

        <div class="loading-info-wrapper">
            <div class="progress-bar-container">
                <div id="progress-bar-fill" class="progress-bar-fill"></div>
            </div>
        </div>

    </div>
    <script src="/assets/js/loading.js"></script>
</body>
</html>