<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Flow in Viet Nam</title>
    <link rel="stylesheet" href="/assets/css/menu.css" />
</head>

<body>

    <!-- Sidebar with icons -->
    <div class="sidebar">
        <a href="/account" title="Logout">
            <div class="sidebar-btn"><img src="/assets/img/out.png" alt="Out" /></div>
        </a>
        <a href="#" title="Camera">
            <div class="sidebar-btn"><img src="/assets/img/cam.png" alt="Cam" /></div>
        </a>
        <a href="/cart" title="Cart">
            <div class="sidebar-btn"><img src="/assets/img/cart.png" alt="Cart" /></div>
        </a>
        <a href="/mail" title="Mail">
            <div class="sidebar-btn"><img src="/assets/img/mail.png" alt="Mail" /></div>
        </a>
        <a href="/choice" title="Explore">
            <div class="sidebar-btn"><img src="/assets/img/compass.png" alt="Compass" /></div>
        </a>
        <a href="/setting" title="Settings">
            <div class="sidebar-btn"><img src="/assets/img/setting.png" alt="Settings" /></div>
        </a>
    </div>

    <!-- Main content overlay -->
    <div class="overlay-box">
        <div class="profile">
            <img src="/assets/img/2.png" alt="Profile">
            <div class="username">lovienal</div>
        </div>
        <div class="UID">UID: 12312314214</div>
        <!-- <div class="step-info">
            <b>Step</b><br>
            <a href="#">Click here to view the map</a>
        </div> -->
    </div>

    <!-- Direction guide -->
    <div class="control-guide">
        <div class="or">Press to move</div>
        <div class="key-grid">
            <div></div>
            <div class="tooltip">
                <div class="key">↑</div>
                <span class="tooltiptext">Up</span>
            </div>
            <div></div>
            <div class="tooltip">
                <div class="key">←</div>
                <span class="tooltiptext">Left</span>
            </div>
            <div class="tooltip">
                <div class="key">↓</div>
                <span class="tooltiptext">Down</span>
            </div>
            <div class="tooltip">
                <div class="key">→</div>
                <span class="tooltiptext">Right</span>
            </div>
        </div>

        <div class="or">or</div>

        <div class="key-grid">
            <div></div>
            <div class="tooltip">
                <div class="key">W</div>
                <span class="tooltiptext">Up</span>
            </div>
            <div></div>
            <div class="tooltip">
                <div class="key">A</div>
                <span class="tooltiptext">Left</span>
            </div>
            <div class="tooltip">
                <div class="key">S</div>
                <span class="tooltiptext">Down</span>
            </div>
            <div class="tooltip">
                <div class="key">D</div>
                <span class="tooltiptext">Right</span>
            </div>
        </div>
    </div>
</body>
</html>