<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Settings</title>
    <link rel="stylesheet" href="/assets/css/setting.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Radley&display=swap" rel="stylesheet">
</head>

<body>
    <div class="settings-container">
        <aside class="sidebar">
            <a href="/menu" title="Menu">
                <div class="sidebar-btn"><img src="/assets/img/out.png" alt="Out" /></div>
            </a>
            <div class="wrap-sidebar">
                <h2>Settings</h2>
                <ul class="menu">
                    <li>Graphics</li>
                    <li>Audio</li>
                    <li>Controls</li>
                    <li>Language</li>
                    <li>Features</li>
                    <li>Custom</li>
                    <li class="active">Other</li>
                </ul>
            </div>

        </aside>

        <main class="content">
            <h3>✦ About</h3>

            <div class="setting-row">
                <span>User Agreement <span class="question" title="Details about User Agreement">?</span></span>
                <div class="view-button" title="View User Agreement"></div>
            </div>

            <div class="setting-row">
                <span>Privacy Policy <span class="question" title="Details about Privacy Policy">?</span></span>
                <div class="view-button" title="View Privacy Policy"></div>
            </div>

            <div class="setting-row">
                <span>Permissions <span class="question" title="Permissions the app needs">?</span></span>
                <div class="view-button" title="View Permissions"></div>
            </div>

            <div class="setting-row">
                <span>Notification Permissions <span class="question"
                        title="Control notification access">?</span></span>
                <div class="view-button" title="View Notification Settings"></div>
            </div>

            <div class="setting-row">
                <span>Camera Permissions <span class="question" title="Allow access to camera">?</span></span>
                <div class="view-button" title="View Camera Settings"></div>
            </div>

            <h3>✦ Other</h3>
        </main>

    </div>
</body>

</html>